.index {
  header {
    text-align: center;
  }
  h1 {
    @include adjust-font-size-to(72px);
    text-transform: uppercase;
    padding: $small-spacing;
  }
  .description {
    font-style: italic;
    padding-bottom: $base-line-height;
  }
  .hike-list {
    $item-margin: $small-spacing;
    $item-width: $body-width / 3 - $item-margin * 2;
    $item-height: $item-width * 0.75;
    $item-padding: 4px;
    $item-border-width: 1px;
    $picture-spacing: ($item-padding + $item-border-width) * 2;
    $picture-width: $item-width - $picture-spacing;
    $picture-height: $item-height - $picture-spacing;

    li {
      position: relative;
      float: left;
      background: #fff;
      width: $item-width;
      height: $item-height;
      border: $item-border-width solid rgba(0,0,0,0.2);
      padding: $item-padding;
      margin: $item-margin;
      @include border-radius(2px);
      @include box-shadow(0 0px 4px 1px rgba(0,0,0,0.1));
      @include transition-property(all);
      @include transition-duration(0.4s);
      &:hover {
        border-color: rgba(0,0,0,0.5);
        @include box-shadow(0 0 8px 3px rgba(70,70,70,0.6));
        
        .frame {
          $shadow-height: $picture-height / 2;
          $shadow-offset: $shadow-height + 6px;
          @include box-shadow(inset 0 $shadow-offset $shadow-height -1*$shadow-height rgba(255,255,255,0.8));
        }
      }
    }
    .bg-image {
      position: absolute;
      width: $picture-width;
      height: $picture-height;
    }
    .caption {
      @include background(linear-gradient(top, transparent, rgba(0,0,0,.7)));
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: $small-spacing;
      padding-top: $small-spacing * 2;
      color: $photo-caption-color;
      @include text-shadow(1px 1px 2px #000);
    }
    .frame {
      position: absolute;
      height: $picture-height;
      width: $picture-width;
      @include transition-property(all);
      @include transition-duration(0.4s);
    }
    h2 {
      font-size: 21px;
      line-height: 1.1;
      font-weight: bold;
    }
    .subtitle {
      color: rgba(255,255,255,0.8);
      @include adjust-font-size-to(16px);
    }
  }
}
