@charset "UTF-8";
/* line 17, ../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Disable shadow effects in textfield inputs */
/* line 14, ../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/mobile_reset-0.1.2/stylesheets/_mobile_reset.scss */
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="week"],
input[type="url"],
textarea {
  -webkit-appearance: none;
}

/* line 18, ../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/mobile_reset-0.1.2/stylesheets/_mobile_reset.scss */
body {
  /* Disable webkit tap-highlighting on non-links */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  /* Disable text resizing on orientation change */
  -webkit-text-size-adjust: none;
}

/* Enable webkit tap-highlighting on links and inputs */
/* line 30, ../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/mobile_reset-0.1.2/stylesheets/_mobile_reset.scss */
a,
input,
textarea {
  -webkit-tap-highlight-color: #999;
  tap-highlight-color: #999;
}

/* Add this class to any links that are overridden by Javascript
   In jQuery: $('a[href="#"]').addClass('no-touch-callout'); */
/* line 37, ../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/mobile_reset-0.1.2/stylesheets/_mobile_reset.scss */
.no-touch-callout {
  -webkit-touch-callout: none;
}

/* line 3, ../sass/globals/_defaults.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 61, ../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 24px;
}

/* line 13, ../sass/globals/_defaults.scss */
body {
  background: #ebe8e1;
}

/* line 20, ../sass/globals/_defaults.scss */
a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

/* line 1, ../sass/globals/_typography.scss */
.reading {
  color: #575341;
}
/* line 8, ../sass/globals/_typography.scss */
.reading a, .reading a:visited, .reading a:hover, .reading a:focus {
  color: #c37143;
  text-decoration: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 15, ../sass/globals/_typography.scss */
.reading a:hover, .reading a:focus {
  color: #c8a153;
}
/* line 19, ../sass/globals/_typography.scss */
.reading p {
  padding-bottom: 24px;
}
/* line 22, ../sass/globals/_typography.scss */
.reading strong {
  font-weight: bold;
}
/* line 25, ../sass/globals/_typography.scss */
.reading em {
  font-style: italic;
}

/* line 3, ../sass/globals/_defaults.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 61, ../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 24px;
}

/* line 13, ../sass/globals/_defaults.scss */
body {
  background: #ebe8e1;
}

/* line 20, ../sass/globals/_defaults.scss */
a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

/* line 1, ../sass/_layout.scss */
body {
  width: 960px;
  margin: 24px auto;
}

/* line 1, ../sass/components/_hike_list.scss */
.hike-list {
  padding-bottom: 24px;
  font-size: 21px;
  line-height: 36px;
}
/* line 5, ../sass/components/_hike_list.scss */
.hike-list a:after {
  content: ' »';
}

/* line 1, ../sass/components/_padded_box.scss */
.padded-box {
  padding: 24px;
}

/* line 1, ../sass/components/_reading_box.scss */
.reading-box {
  background: white;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 2, ../sass/pages/_index.scss */
.index header {
  text-align: center;
}
/* line 5, ../sass/pages/_index.scss */
.index h1 {
  font-size: 72px;
  line-height: 84px;
  text-transform: uppercase;
  padding: 12px;
}
/* line 10, ../sass/pages/_index.scss */
.index .description {
  font-style: italic;
  padding-bottom: 24px;
}
/* line 24, ../sass/pages/_index.scss */
.index .hike-list li {
  position: relative;
  float: left;
  background: #fff;
  width: 296px;
  height: 222px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px;
  margin: 12px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0px 4px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0px 4px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 4px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 37, ../sass/pages/_index.scss */
.index .hike-list li:hover {
  border-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 8px 3px rgba(70, 70, 70, 0.6);
  -moz-box-shadow: 0 0 8px 3px rgba(70, 70, 70, 0.6);
  box-shadow: 0 0 8px 3px rgba(70, 70, 70, 0.6);
}
/* line 41, ../sass/pages/_index.scss */
.index .hike-list li:hover .frame {
  -webkit-box-shadow: inset 0 112px 106px -106px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: inset 0 112px 106px -106px rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 112px 106px -106px rgba(255, 255, 255, 0.8);
}
/* line 48, ../sass/pages/_index.scss */
.index .hike-list .bg-image {
  position: absolute;
  width: 286px;
  height: 212px;
}
/* line 53, ../sass/pages/_index.scss */
.index .hike-list .caption {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.7)));
  background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.7));
  background: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.7));
  background: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.7));
  background: linear-gradient(top, transparent, rgba(0, 0, 0, 0.7));
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 12px;
  padding-top: 24px;
  color: white;
  text-shadow: 1px 1px 2px black;
}
/* line 63, ../sass/pages/_index.scss */
.index .hike-list .frame {
  position: absolute;
  height: 212px;
  width: 286px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 70, ../sass/pages/_index.scss */
.index .hike-list h2 {
  font-size: 21px;
  line-height: 1.1;
  font-weight: bold;
}
/* line 75, ../sass/pages/_index.scss */
.index .hike-list .subtitle {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 24px;
}
