$reading-text-color: #575341;
$logo-color: #C5D1A3;
$logo-color-alpha: rgba(197,209,163,0.9);
$header-color: darken($logo-color, 30%);
$header-text-shadow-color: #EBEAE5;
$body-background: #FBFAF5;
$reading-background: #FFF;
$link-color: #C37143;
$link-hover-color: #C8A153;