.reading {
  color: $reading-text-color;

  a {
    &,
    &:visited,
    &:hover,
    &:focus {
      color: $link-color;
      text-decoration: none;
      @include transition-property(all);
      @include transition-duration(0.2s);
    }
    &:hover,
    &:focus {
      color: $link-hover-color;
    }
  }
  p {
    padding-bottom: $base-line-height;
  }
  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
  }
}
